{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/game_session.css' %}">
<div class="container">
    <p class="invite-text">Пригласить участников:</p>
    <div class="card">
        <span class="session-url">{{ game.get_session_url }}</span>
        <img src="{% static 'images/icon.png' %}" alt="Copy" class="copy-icon" onclick="copyToClipboard('{{ game.get_session_url }}')">
    </div>
    <p class="invite-text">Выбранный набор: {{ game.card_set }}</p>
    <div id="user-count" class="invite-text">Количество игроков: 0</div>
    <button class="btn" id="start-game-btn">Начать игру</button>
    <a href="/" class="btn">Назад</a>
</div>


    <script>
        function copyToClipboard(text) {
            navigator.clipboard.writeText(text)
        }

        console.log({{ game.shuffled_exercises|safe }})
        document.addEventListener('DOMContentLoaded', function () {
            const sessionId = "{{ game.session_id }}";
            const wsStart = window.location.protocol === 'https:' ? 'wss://' : 'ws://';
            const endpoint = wsStart + window.location.host + '/ws/game_session/' + sessionId + '/';
            const socket = new WebSocket(endpoint);

            document.getElementById('start-game-btn').addEventListener('click', function() {
                socket.send(JSON.stringify({ action: 'start_game' }));
            });

            socket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                if (data.user_count !== undefined) {
                    document.querySelector('#user-count').innerText = `Игроков онлайн: ${data.user_count}`;
                } else if (data.command === 'redirect') {
                    window.location.href = data.url;
                }
            }

            socket.onopen = function(e) {
                console.log("WebSocket connection opened");
            }

            socket.onerror = function(e) {
                console.error("WebSocket error observed:", e);
            }

            socket.onclose = function(e) {
                console.log("WebSocket connection closed");
            }
        });
    </script>
{% endblock %}